* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

#app {
    background-color: #F5F5F5;
    padding: 0;
    margin: 0;
    padding: 50px;
}

.course-container {
    background-color: #FFFDF4;
    width: 1917px;
    padding: 70px 194px 79px 194px;
}

.top-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 20px;
    width: 519px;
    height: 154px;
}

.top-content .title {
    font-size: 45px;
    line-height: 53px;
    color: #374639;
}

.top-content .description {
    font-size: 19px;
    line-height: 27px;
    color: #3F514B;
}

.main-content {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    gap: 23px;
}

.main-content .courses {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.main-content .courses .image {
    width: 365px;
    height: 266px;
}

.main-content .courses .course-detail {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.main-content .courses .course-detail .detail {
    display: flex;
    flex-direction: column;
    width: 308px;
    gap: 6px;
}

.main-content .courses .course-detail .detail .description {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.main-content .courses .course-detail .detail .description .course-name {
    font-size: 20px;
    color: #414F42;
}

.main-content .courses .course-detail .detail .description .course-description {
    font-size: 17px;
    line-height: 24px;
    color: #3F514B;
}

.main-content .courses .course-detail .detail .course-price {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.main-content .courses .course-detail .detail .course-price .old-price {
    font-size: 13px;
    text-decoration: line-through;
    color: #72776C;
}

.main-content .courses .course-detail .detail .course-price .new-price {
    font-size: 18px;
    color: #3F514B;
}

.main-content .courses .course-detail .course-plan {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #ECEDEC;
}

.main-content .courses .course-detail .course-plan .plan {
    display: flex;
    align-items: center;
    padding: 12px 0 8px 0;
    gap: 20px;
    border-top: 1px solid #ECEDEC;
}

.main-content .courses .course-detail .course-plan .plan.custom {
    border-bottom: 1px solid #ECEDEC;
}

.main-content .courses .course-detail .course-plan .plan .week {
    text-transform: uppercase;
    font-size: 15px;
    color: #72776C;
}

.main-content .courses .course-detail .course-plan .plan .content {
    font-size: 14px;
    color: #4E5C58;
}

.user-comment {
    width: 1475px;
    height: 575px;
    margin: 221px;
    display: flex;
    flex-direction: row;
    gap: 146px;
    border-radius: 20px;
    background-color: #FFFFFF;
}

.user-comment .user-image {
    height: 475px;
    width: 638px;
    border-radius: 12px;
    margin: 50px 0 50px 50px;
}

.user-comment .right-content {
    display: flex;
    flex-direction: column;
    margin-top: 70px;
    margin-right: 147px;
    align-items: center;
}

.user-comment .right-content .title {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.3);
    letter-spacing: 0.01em;
    text-transform: uppercase;
}

.user-comment .right-content .symbol i {
    margin-top: 52px;
    font-size: 52px;
    color: rgba(0, 0, 0, 0.3);
}

.user-comment .right-content .comment {
    font-style: normal;
    margin-top: 10px;
    font-size: 30px;
    line-height: 40px;
    width: 494px;
    letter-spacing: -0.04em;
    text-align: center;
    padding: 0 5px;
    color: #0D0D0D;
}

.user-comment .right-content .user-name {
    margin-top: 20px;
    font-size: 16px;
    color: #0D0D0D;
    letter-spacing: 0.01em;
}

.user-comment .right-content .job {
    margin-top: 4px;
    font-size: 15px;
    line-height: 22px;
    color: #0000004D;
    letter-spacing: 0.03em;
}

@media (max-width: 500px) {
    #app {
        width: 500px;
        padding: 0;
    }

    .top-content {
        width: 350px;
    }

    .course-container {
        width: 500px;
        padding: 50px;
    }

    .main-content {
        display: flex;
        flex-direction: column;
        gap: 50px;
    }

    .user-comment {
        width: 500px;
        display: flex;
        flex-direction: column;
        gap: 50px;
        margin: 0 0 50px 0;
    }

    .user-comment .user-image {
        margin: 50px 0 0 50px;
        width: 400px;
        height: 400px;
    }

    .user-comment .right-content {
        width: 400px;
        margin: 0 0 0 50px;
    }

    .user-comment .right-content .comment {
        width: 400px;
        font-size: 20px;
    }
}